@import "styles/components/home-header.scss";
@import "styles/components/featured-release.scss";
@import "styles/components/release-grid.scss";
@import "styles/components/release-page.scss";

body {
  font-family: "Montserrat", sans-serif;
  background-image: url("/assets/imagedoc-darknoise.png");
  color: white;
}
