@import "../../vars.scss";

.release-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  a {
    text-decoration: none;
    color: white;

    .release {
      width: 100%;
      max-width: 300px;

      img {
        width: 300px;
        height: 300px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
        transition: box-shadow 0.25s ease;
      }

      .release-info {
        margin-top: 1em;
        margin-bottom: 1em;

        h3 {
          margin: 0;
          padding: 0;
          font-weight: 800;
        }

        p {
          margin: 0;
          padding: 0;
          font-weight: 600;
          color: $title-gray;
        }
      }

      &:hover {
        img {
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.8);
        }
      }
    }
  }
}
