{# Allow extenders to pass through variables #}
{% block variable_wormhole %}
{% set title = "NO TITLE SET" %}
{% set description = "" %}
{% set is_article = false %}
{% set feature_flags = [] %}
{% set redirect_target = "" %}
{% endblock variable_wormhole %}

<!DOCTYPE html>
<html lang="en">

<head>
    {# Page metadata #}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/jpg" href="{{config.extra.profile_photo}}" />
    {% include "components/metadata/advertise-rss.html" %}

    {# Redirect support #}
    {% if redirect_target != "" %}
    <meta http-equiv="refresh" content="0; url={{redirect_target}}" />
    {% endif %}

    {# Page title #}
    <title>{{title}} | {{config.title}}</title>

    {# Site-wide styles #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,800;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/global.css">

    {# Component styles #}
    {% block component_styles %}
    {% endblock component_styles %}
</head>

<body>

    {# The whole page #}
    <div class="page">

        {# Actual content #}
        {% if redirect_target %}
        <div class="container" style="text-align:center;">
            <h2>Redirection Notice</h2>
            <p>
                You are being redirected to another page.<br>
                Click <a href="{{redirect_target}}">here</a> if this does not happen automatically.
            </p>
        </div>
        {% else %}
        <div id="content" class="container">
            {% block content %}{% endblock content %}
        </div>
        {% endif %}

        {# Footer #}
        {% include "components/footer.html" %}
    </div>

    {# External scripts #}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

    {# {% include "components/metadata/analytics.html" %} #}
</body>

</html>