<div class="home-header">
    <div class="home-header-hello">
        <p>Music By</p>
        <h1>Evan<br>Pratten</h1>

        <div class="home-header-icons">
            <a href="https://ewpratten.com" rel="me"><i class="fa-solid fa-globe"></i></a>
            <a href="https://open.spotify.com/artist/1aLNEmgqBJkhfkEZvf8Vh5" rel="me"><i
                    class="fa-brands fa-spotify"></i></a>
            <a href="https://music.apple.com/us/artist/evan-pratten/1611566708" rel="me"><i
                    class="fa-brands fa-apple"></i></a>
            <a href="https://www.youtube.com/@ewpratten" rel="me"><i class="fa-brands fa-youtube"></i></a>
        </div>
    </div>
    <div class="home-header-logo">
        <img src="{{config.extra.profile_photo}}" alt="Profile Photo">
    </div>
</div>